body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #034885, #055e63);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    backdrop-filter: blur(10px);
    margin-top: 20px;
}

label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    width: 250px;
    text-align: center;
}

button {
    background: #ff7e5f;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background: #feb47b;
}

#weatherInfo {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    max-width: 400px;
    font-size: 1.2em;
}
